Source: msbuild
Section: unknown
Priority: optional
Maintainer: Jo Shields <joshield@microsoft.com>
Build-Depends: debhelper (>=7.0.50~), mono-devel (>= 4.0), cli-common-dev,
	curl, unzip, libunwind8-dev, libicu-dev, ca-certificates-mono,
	libcurl4-openssl-dev, coreutils
Standards-Version: 3.9.6
Homepage: https://github.com/mono/msbuild

Package: msbuild
Architecture: all
Depends: ${cli:Depends}, ${shlibs:Depends}, ${misc:Depends}, msbuild-libhostfxr
Description: build platform for .NET and Visual Studio
 The Microsoft Build Engine is a platform for building applications.
 This engine, which is also known as MSBuild, provides an XML schema
 for a project file that controls how the build platform processes
 and builds software. Visual Studio uses MSBuild, but MSBuild does
 not depend on Visual Studio. By invoking msbuild.exe on your
 project or solution file, you can orchestrate and build products
 in environments where Visual Studio isn't installed.
 .
 This package contains the main msbuild build system

Package: msbuild-sdkresolver
Architecture: all
Depends: ${cli:Depends}, ${shlibs:Depends}, ${misc:Depends}, msbuild-libhostfxr
Breaks: msbuild (<< 15.3+xamarinxplat.2017.06.19.14.09)
Replaces: msbuild (<< 15.3+xamarinxplat.2017.06.19.14.09)
Description: build platform for .NET and Visual Studio
 The Microsoft Build Engine is a platform for building applications.
 This engine, which is also known as MSBuild, provides an XML schema
 for a project file that controls how the build platform processes
 and builds software. Visual Studio uses MSBuild, but MSBuild does
 not depend on Visual Studio. By invoking msbuild.exe on your
 project or solution file, you can orchestrate and build products
 in environments where Visual Studio isn't installed.
 .
 This package contains the managed portion of the helper library
 which will auto-discover the .NET Core SDK on your system
